/* Стандартные настройки*/
html, body, p, a, img, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
*, :after, :before {
    box-sizing: border-box;
}
a {
    outline: none;
}
input[type=button]{
    border: none;
    background: transparent;
}
ul {
    list-style: none;
}

html, body, .sheet {
    height: 100%;
}
.sheet {
    width: 1170px;
    margin: 0 auto;
    padding: 20px;
}
.line{
    position: absolute;
    width: 3px;
    height: 100%;
    right: 120px;
    top: 0;
    opacity: .5;
    background: red;
    box-shadow: 0 0 4px red;
}

body {
    font: normal 26px Nexa, 'sans-serif';
    line-height: 24px;
    color: #4530af;
}
p {
    margin-bottom: 10px;
}
.flex {
    display: flex;
}
.ju-cen{
    justify-content: center;
}
.relative{
    position: relative;
}
.matrix{
    position: fixed;
    left:20px;
    top:50px;
}
.newGameStart{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.GameStart, input[type=button], .random{
    padding: 20px;
    border: 2px solid #4530af;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;
}

input[type=button]{
    font: normal 26px Nexa, 'sans-serif';
    line-height: 24px;
    color: #4530af;
}

.players{
    border: 1px solid #4530af;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 30px;
}
.players.player-img{
    background-image: url("../img/Player.svg");
}
.players.player-computer{
    background-image: url("../img/computer.svg");
}
.players.player-img, .players.player-computer{
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}
.players:hover, .GameStart:hover, input[type=button]:hover, .random:hover{
    box-shadow: 0 0 4px #4530af;
}
.players, svg{
    cursor: pointer;
}
.battlefield {
    background: url('../img/field.png') repeat;
    width: 100%;
    height: 900px;
    position: relative;
    margin: 0 auto;
}
.game_title {
    height: 66px;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    font-size: 26px;
    font-weight: bold;
}
.namePlayer, .players_choice{
    text-align: center;
    line-height: 1.3;
}

.namePlayer input{
    margin-top: 30px;
}
.namePlayer input[type=text]{
    border: 1px solid #4530af;
    padding: 10px;
    font: normal 25px Nexa, 'sans-serif';
    border-radius: 10px;
    color: #4530af;
}
input[type=text]:focus{
    outline: none;
    box-shadow: 0 0 4px #4530af;
}
.help {
    text-align: center;
}
.help-text {
    color: #4530af;
    padding-top: 10px;
}
.help-text .active{
    color: red;
    font-weight: bold;
}

.players-playing-field {
    margin-bottom: 21px;
    padding-left: 66px;
    margin-top: 66px;
}
.field {
    width: 332px;
    height: 330px;
    position: relative;
    border: 3px solid #4530af;
}
.field-computer {
    margin-left: 64px;
}

.ships {
    width: 332px;
    height: 330px;
    position: relative;
    left: -2px;
    top: -3px;
}
.ship {
    height: 35px;
    position: absolute;
}
.vertical {
    transform: rotate(90deg);
    transform-origin: 17.5px 17.5px;
}
.fourdeck, .tripledeck, .doubledeck, .singledeck{
    height: 33px;
    border: 2px solid #4530af;
}
.fourdeck {
    width: 134px;
}
.tripledeck {
    width: 101px;
}
.doubledeck {
    width: 68px;
}
.singledeck {
    width: 35px;
}

.name_player, .nameComputer{
    margin-bottom: 10px;
    position: absolute;
    top: -57px;
}
.number{
    position: absolute;
    left: -26px;
    height: 100%
}
.positionNumber > div{
    height: 33px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.positionLetters{
    display: flex;
}
.positionLetters > div{
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letters{
    position: absolute;
    top: -26px;
    width: 100%
}
.number.computer{
    left: 39px;
}
.letters.computer{
    left: 64px;
}
.name_player{
    left: 0;
}
.nameComputer{
    left: 66px;
}
.instruction {
    margin-left: 26px;
    user-select: none;
}
.random-placement-box {
    line-height: 34px;
    padding-bottom: 18px;
}
.random-placement-box .btn {
    font-size: 26px;
    cursor: pointer;
}
.icon-field {
    width: 33px;
    height: 33px;
    display: block;
    position: absolute;
    z-index: 10;
}
.point {
    background: #4530af;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    margin-left: 13px;
    margin-top: 13px;
}
.red-cross {
    background: url('../img/red-cross.png') no-repeat center;
    background-size: 80% 80%;
    width: 33px;
    height: 33px;
}
.shaded-cell {
    background: url('../img/strih.png') no-repeat center;
    background-size: 90% 90%;
}
.explosion {
    background: url('../img/explosion.png') no-repeat center;
    background-size: 90% 90%;
    z-index: 6;
    opacity: 0;
    transform: scale(.1);
}
.explosion.active {
    animation-name: Explosion;
    animation-duration: 0.6s;
    transform: scale(1);
}
@keyframes Explosion {
    0% { opacity: 0; transform: scale(.1); }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; }
}
.animation{
    position: relative;
    opacity: 1;
    animation: animationStart 1s ease-out;
}
@keyframes animationStart {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}



